service android.hardware.automotive.evs-v4l2 /vendor/bin/hw/android.hardware.automotive.evs-v4l2
    class early_hal
    priority -20
    user graphics
    group automotive_evs camera
    onrestart restart cardisplayproxyd
    onrestart restart evsmanagerd
    disabled

on late-init
    start android.hardware.automotive.evs-v4l2
