<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Lua Telemetry Interpreter</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body class="mdc-theme--background mdc-typography">
  <p class="mdc-theme--primary mdc-typography--headline1">Hello World!</p>
</body>

</html>