<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Lua Telemetry Interpreter</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.bundle.js') }}"></script>
</head>

<body class="mdc-theme--background mdc-typography">
  <form action="{{ url_for('execute_script') }}" method="post">
    <textarea class="script-input" id="script-input" placeholder="Input script here..." spellcheck="false"
      name="script">{{ script }}</textarea>
    <button type="submit" class="mdc-button mdc-button--raised ripple">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Run</span>
    </button>
  </form>

  <div class="mdc-theme--on-surface script-output" id="script-output">
    {% for item in output %}
      {% if item == "\t" %}
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      {% else %}
        <span>{{ item|replace('\n', '<br>'|safe) }}</span>
      {% endif %}
    {% endfor %}
  </div>
</body>

</html>