<!--
  ~ Copyright (C) 2022 Google Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.car.portraitlauncher">

    <application
        android:label="@string/app_title"
        android:theme="@style/Theme.CarUi.NoToolbar"
        tools:replace="android:label,android:theme"
        tools:node="merge">

        <activity
            android:name="com.android.car.carlauncher.CarLauncher"
            android:enabled="false"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:exported">
            <!-- Disable the CarLauncher activity as we don't want that in the
                 reference launcher. -->
            <intent-filter tools:node="removeAll"/>
        </activity>

        <activity android:name=".homeactivities.CarUiPortraitHomeScreen"
            android:label="CarUiPortraitHomeScreen"
            android:configChanges="uiMode|mcc|mnc"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:resumeWhilePausing="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="distractionOptimized" android:value="true"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER_APP"/>
            </intent-filter>
        </activity>
    </application>
</manifest>