service android.hardware.automotive.evs-default /vendor/bin/hw/android.hardware.automotive.evs-default
    class early_hal
    priority -20
    user graphics
    group automotive_evs camera
    disabled
