# /data/system/car
type system_car_data_file, file_type, data_file_type, core_data_file_type;
# /sys/fs/ext4
type sysfs_fs_ext4, sysfs_type, fs_type;
