# Insert car-specific startup services here
on post-fs-data
    mkdir /data/system/car 0700 system system
    mkdir /data/system/car/watchdog 0700 system system

# Swapon hibernation block device before suspend to disk
on property:sys.hibernate=1 && property:ro.sys.hibernate_enabled=1 && property:ro.sys.swap_storage_device=*
    swapon_all /vendor/etc/fstab.hibernationswap

# Swapoff hibernation block device after resume from hibernation
on property:sys.hibernate=0 && property:ro.sys.hibernate_enabled=1 && property:ro.sys.swap_storage_device=*
    swapoff ${ro.sys.swap_storage_device}
