# Ignore personality-8 denials.
dontaudit domain kernel:system module_request;

# For /sys/qemu_trace files in the emulator.
allow domain sysfs_writable:dir search;
allow domain sysfs_writable:file rw_file_perms;




