# evs manager
type evs_manager, domain;
type evs_manager_exec, exec_type, file_type;

allow evs_manager hwservicemanager:binder { call transfer };
allow evs_manager hwservicemanager_prop:file { getattr open read };
allow evs_manager evs_driver:binder call;

init_daemon_domain(evs_manager)

binder_use(evs_manager);
