# evs_driver mock hardware driver service
type evs_driver, domain;
type evs_driver_exec, exec_type, file_type;

allow evs_driver hwservicemanager:binder { call transfer };
allow evs_driver hwservicemanager_prop:file { getattr open read };
allow evs_driver device:dir { open read };
allow evs_driver surfaceflinger:binder call;

init_daemon_domain(evs_driver)

binder_use(evs_driver);
