# evs_driver sample hardware driver service
type evs_driver, domain;
type evs_driver_exec, exec_type, file_type;

allow evs_driver device:dir { open read };
allow evs_driver surfaceflinger:binder call;

get_prop(evs_driver, hwservicemanager_prop)

init_daemon_domain(evs_driver)

hwbinder_use(evs_driver);
