# evs app
type evs_app, domain;
type evs_app_exec, exec_type, file_type;

allow evs_app evs_app_exec:dir search;
allow evs_app evs_driver:binder call;
allow evs_app evs_mock:binder call;
allow evs_app gpu_device:chr_file ioctl;
allow evs_app hal_graphics_allocator_default:fd use;
allow evs_app hal_vehicle_default:binder call;
allow evs_app system_file:dir { open read };

# This is the normal path
allow evs_app evs_manager:hwservice_manager find;

# This is only allowed for development testing.  Otherwise, evs_app should talk to evs_manager
allow evs_app evs_driver:hwservice_manager find;
allow evs_app evs_mock:hwservice_manager find;

get_prop(evs_app, hwservicemanager_prop)

init_daemon_domain(evs_app)

hwbinder_use(evs_app);
