# evs_mock mock hardware driver service
type evs_mock, domain;
type evs_mock_exec, exec_type, file_type;

allow evs_mock hal_graphics_allocator_default:fd use;

get_prop(evs_driver, hwservicemanager_prop)

init_daemon_domain(evs_mock)

hwbinder_use(evs_mock);
