# evs manager
type evs_manager, domain;
type evs_manager_exec, exec_type, file_type;

allow evs_manager evs_driver:binder call;
allow evs_manager system_file:dir { open read };

allow evs_app evs_driver:hwservice_manager find;
allow evs_app evs_mock:hwservice_manager find;

get_prop(evs_driver, hwservicemanager_prop)

init_daemon_domain(evs_manager)

hwbinder_use(evs_manager);
